/* Navigation Styles */
nav {
    position: static;
    background-color: rgb(41, 40, 40);
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 5;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 30px;
}

nav ul li a:hover {
    background-color: #cfc8c8;
    color: black;
}

/* Body Styles */
body {
    margin: 0;
    padding: 0;
    background-color: rgb(41, 40, 40);
    color: whitesmoke;
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Animal Gallery Styles */
#animal-gallery {
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    flex-wrap: wrap;
}

.fluid {
    position: relative;
    padding: 0;
}

.fluid h1 {
    padding-top: 60px;
    padding-bottom: 30px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.fluid-container {
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    background-image: linear-gradient(to right, #000, #fff);
}

.fluid-container img:hover {
    transform: scale(1.3);
    transition: 0.8s;
    opacity: 0.8;
}

/* Blossom Gallery Styles */
.card {
    position: relative;
    padding: 5%;
    width: 90%;
    text-align: center;
    margin-top: 0;
}

.card h1 {
    position: relative;
    width: 100%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 50px;
    padding-top: 10px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-bottom: 50px;
}

a:link {
    text-decoration: none;
}

.photo-card .img-box {
    position: relative;
    overflow: hidden;
    width: 100%;
    box-shadow: 0 0 10px black;
}

.card-grid .card-img {
    width: 200px; /* Set a consistent width */
    height: 200px; /* Set a consistent height */
    object-fit: cover; /* Ensures the image fits within the dimensions without distortion */
    border-radius: 8px; /* Optional: Add rounded corners for aesthetics */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add a shadow for better visual appeal */
}